.footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer__top {
        width: 70%;
        display: flex;

        .left__wrapper {
            flex: 1;
            .title {
                width: 100%;
                padding: 29px 0 2px;
                font-weight: 700;
                font-size: 20px;
                color: #333;
                line-height: 24px;
            }

            .detail__wrapper {
                display: flex;
                padding-top: 16px;

                .detail__left {
                    flex: 0.3;
                    padding-top: 4px;
                    font-weight: 800;
                    font-size: 1.5vw;
                    color: #333;
                    line-height: 36px;
                    letter-spacing: -0.5px;
                    white-space: nowrap;
                }

                .detail__right {
                    flex: 0.7;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 0.8vw;
                    color: #333;
                    line-height: 22px;
                    letter-spacing: -0.2px;
                    margin: 0;
                    padding: 0;

                    dd {
                        margin: 0;
                    }
                }
            }
        }

        .right__wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;

            .title__link {
                flex: 1;
                padding-top: 29px;
                font-size: 12px;
                color: #999;
                line-height: 20px;

                a {
                    padding: 5px;
                }
            }

            .detail__wrapper {
                padding-top: 29px;
                font-size: 12px;
                color: #999;
                line-height: 20px;
                a {
                    color: #5f0080;
                }
            }

            .sns__link {
                ul {
                    display: flex;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    padding-top: 25px;
                    li {
                        float: left;

                        a {
                            display: block;
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;

                            img {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
